C:\Users\SyMoN\Documents\Project\QuartetCap\Quartet\Builds
C:\Users\SyMoN\Documents\Project\QuartetCap\Quartet\Library
C:\Users\SyMoN\Documents\Project\QuartetCap\Quartet\Logs
C:\Users\SyMoN\Documents\Project\QuartetCap\Quartet\obj
C:\Users\SyMoN\Documents\Project\QuartetCap\Quartet\UserSettings
